<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container{
            width: 70%;
            margin: 0 auto;
            max-width: 700px;
            padding: 2rem;
        }

        li{
            list-style-type: none;
        }

        .category{
            display: flex;
            margin-top: 1rem;
            gap: 3rem;
            align-items: center;
        }

        button{
            padding: 1rem;
            background-color: #101020;
            /* outline: none; */
            border: none;
            border-radius: 5px;
        }

         a{
            text-decoration: none;
            color: #f9f9fc;
        }

        a:hover{
            color: #a46af7;
        }


    </style>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <button><a href="/category">Add Category</a></button>
        <div class="categories">
            <ul>
                <% categories.forEach(category => { %>
                    <div class="category">
                        <li><%= category.name %></li>
                        <form action="/category/<%=category.id%>" method="POST">
                            <button type="submit"><a>Delete</a></button>
                        </form>
                        <button><a href="/items/<%=category.id%>">Get all items</a></button>
                    </div>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>